target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
/server-panel-core/target
/.project
/.settings
/server-panel-core/.classpath
/server-panel-core/.settings
/test.html
/server-panel-core/*.project
/server-panel-core/bin/*.project
/server-panel-core/bin
